SELECT   
    COALESCE(psa.datname, '') AS datname,
    COALESCE(psa.usename, '') AS usename,
    COALESCE(psa.client_addr::TEXT, '') AS client_addr,
    COALESCE(psa.client_hostname, '') AS client_hostname,
    COALESCE(psa.client_port::TEXT, '') AS client_port,
    COALESCE(psa.query_start::TEXT, '') AS query_start,
    COALESCE(psa.wait_event_type, '') AS wait_event_type,
    COALESCE(psa.wait_event, '') AS wait_event,
    COALESCE(psa.query_id::TEXT, '') AS query_id,
    COALESCE(psa.pid::TEXT, '') AS pid,
    COALESCE(psa.application_name::TEXT, '') AS application_name,
    EXTRACT(EPOCH FROM psa.query_start) AS _query_start_timestamp,
    psa.state,
    psa.query,
    COALESCE(pss.query, '') AS normalized_query,
    CASE
    WHEN psa.state = 'active' THEN
      EXTRACT(EPOCH FROM (clock_timestamp() - psa.query_start)) * 1e3
    WHEN psa.state IN ('idle','idle in transaction','idle in transaction (aborted)')
         AND psa.state_change IS NOT NULL THEN
      EXTRACT(EPOCH FROM (psa.state_change - psa.query_start)) * 1e3
    ELSE
      NULL
    END AS duration_ms
FROM pg_stat_activity psa
LEFT JOIN pg_stat_statements pss
    ON psa.query_id = pss.queryid
    AND psa.datid = pss.dbid
WHERE     
    coalesce(
      TRIM(psa.query), 
      ''
    ) != ''
    AND NOT (
{{/* we only want query that is either still running that was started before our newestQueryTimestamp or idle but start after the newestQueryTimestamp */}}
      psa.query_start < TO_TIMESTAMP({{ .newestQueryTimestamp }})
      AND psa.state = 'idle'
    )
LIMIT {{ .limit }};
